body {
	background-image: url("./salon.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: auto;
	background-attachment: fixed;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
	text-align: left;
	font-size: 50px;
	color: #000000;
}

div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}